<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Mapper.RentalMapper">

	<resultMap id="Base_Result_Map" type="com.example.demo.Entity.Rental">
		<id column="book_id" property="book_id" jdbcType="INTEGER" />
	</resultMap>

	<insert id="rental" parameterType="com.example.demo.Entity.Rental">
	INSERT INTO EL_RENT	(user_id, book_id, rent_day)
	VALUES(90, #{book_id}, now());
	</insert>

</mapper>